[Unit]
Description=Telegram Casino Bot
After=network.target redis.service

[Service]
Type=simple
WorkingDirectory=/opt/left4casino
ExecStart=/opt/left4casino/venv/bin/python -m bot
KillMode=process
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target